body {
  margin:0;
  padding:0;
  width: 100%;
  height:100%;
}
.flexbox {
  display: flex;
  border: 5px solid blue;
  height: 95vh;
  width: 95vw;
  flex-direction: column;
  text-align: center;
}

.headerdiv {
  display: flex;
  border: 5px solid pink;
  justify-content: center;
}

.bodydiv {
  display: flex;
  flex: 1;
  border: 5px solid purple;
}

  #griddiv {
    display: flex;
    flex: 2;
    border: 5px solid green;
    /*width: 700px;
height: 700px;*/
  }

#paintstationdiv {
    /*flex: 1;
    border: 5px solid yellow;
    display: inline-block;*/
    width: 400px;
    display: inline-block;
    margin: auto;
    /*margin-top: 1%;*/
  }
